# Ignorar la carpeta dcm4che-5.33.1/
dcm4che-5.33.1/*

# Ignorar el entorno virtual de Python
venv/*

# Ignorar archivos de registro
*.log

# Ignorar caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar carpetas generadas por PyInstaller
build/
dist/

# Ignorar archivos específicos generados durante el proceso de empaquetado
*.spec
